.w-100 {
  width: 100%;
}

.grid-thumb {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin: 5px 0;
}

.row-link {
  cursor: pointer;
  &:hover {
    background-color: whitesmoke;
  }
}